<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Details</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: Arial, sans-serif;
            background: #f0f0f0;
            font-size: 12px;
        }

        .container {
            position: relative;
            width: 210mm; /* A4 width */
            height: 297mm; /* A4 height */
            margin: 0 auto;
            padding: 10mm;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            box-sizing: border-box;
            overflow: hidden; 
        }

        .logo {
            width: 80px;
            display: block;
            margin: 0 auto 10px;
        }

        h1 {
            text-align: center;
            margin: 15px 0;
            font-size: 18px;
            color: #333;
        }

        .content, .terms, .signature, .date {
            width: 100%;
            box-sizing: border-box;
        }

        .content {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }

        .content p {
            margin: 8px 0;
        }

        .terms {
            margin-top: 15px;
            text-align: left;
        }

        .terms p {
            margin-bottom: 8px;
        }

        .signature {
            margin-top: 15px;
            text-align: left;
            font-style: italic;
        }

        .date {
            margin-top: 14px;
            text-align: right;
            font-style: italic;
        }

        .signature img {
            width: 80px;
        }

        .top-right-curve {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 4%;
            background: linear-gradient(to right, rgb(241, 244, 245), rgb(8, 133, 182));
            border-bottom-left-radius: 100%;
            overflow: hidden;
        }

        .bottom-left-curve {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40%;
            height: 2%;
            background: linear-gradient(to right, teal, lightgreen);
            border-top-right-radius: 100%;
            overflow: hidden;
        }

        @media print {
         
            body, html {
                margin: 0;
                padding: 0;
            }

            .container {
                width: 210mm; /* A4 width */
                height: 297mm; /* A4 height */
                margin: 0 auto;
                padding: 10mm;
                border: 1px solid #ccc;
                border-radius: 8px;
                background-color: white;
                box-shadow: none; 
                overflow: hidden; 
            }

            .top-right-curve, .bottom-left-curve {
                display: none; 
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://brandroute.s3.ap-south-1.amazonaws.com/christmas_2012_new_6456.jpg" alt="Logo" class="logo">
        <h1>Registration Details</h1>
        <div class="content">
            <p><strong>Full Name:</strong> Suman Mandal</p>
            <p><strong>Email:</strong> suman@gmail.com</p>
            <p><strong>Describes You:</strong> Artist</p>
            <p><strong>Region:</strong> India</p>
            <p><strong>Terms Accepted:</strong> true</p>
            <p><strong>Legal Name:</strong> Suman</p>
            <p><strong>Label Name:</strong> Suman Mandal</p>
            <p><strong>Government Id:</strong> Aadhar Card</p>
            <p><strong>Government Address:</strong> Aadhar Card</p>
            <p><strong>Mobile Number:</strong> 8656543234</p>
        </div>
        <div class="terms">
            <p><strong>ZWWLLC Digital Distribution Terms Of Service</strong></p>
            <p>This Terms of Service Agreement (hereinafter the "Agreement") is made between you, acting on your own behalf or as the legal representative for a band, group, company, corporation or label (hereinafter referred to as the "Company") and Zojak World Wide, LLC (hereinafter referred to as "ZWWLLC"). ZWWLLC is a digital music distribution company that facilitates the offering of sound recordings to other third party distributors and digital music retailers (collectively, the "Resellers") for the purpose of selling music downloads to consumers over the Internet. The Company hereby certifies that it owns or has the right to distribute, publish, sell, copy, transfer, convert, encode, integrate, digitally modify and deliver over the Internet all recordings provided to ZWWLLC in connection with ZWWLLC's services (collectively, the "Content").</p>
            <p><strong>TERMS OF SERVICE AGREEMENT</strong></p>
            <p>Company hereby grants ZWWLLC the exclusive right worldwide, during the Term, to: 1.1.1. act as the licensor and digital distributor of Company's Content to Resellers worldwide, and authorize such Resellers to promote, sell, distribute and deliver encoded versions of the Content to individual consumers (collectively, the "Service Users") in digital form. 1.1.2. Act as the digital asset manager of Company's Content to YouTube worldwide, fingerprint, and monetize digital assets. 1.1.3. reproduce and convert Company's Content into digitally encoded files in any format now known or hereafter devised, including the assignment and insertion of ISRC codes; and collect, administer and distribute proceeds from Resellers' use of Company's Content, in accordance with this Agreement. Associated Rights. Company hereby grants ZWWLLC the right during the Term, to authorize Resellers to perform preview clips of the Content and to use the artwork, track and/or album names associated with the Masters. Promotional Rights. Subject to Company's consent, ZWWLLC shall have the right to repackage Company's Content with other digital media content in the form of branded or co-branded compilations and other such forms.</p>
            <p><strong>COMPANY'S OBLIGATIONS</strong></p>
            <p>Company shall clear all rights to the Content necessary for ZWWLLC to reproduce works of the Content. Company shall notify ZWWLLC in writing of any restrictions that may apply to the sales of Company's Content, including any territorial resale restrictions. Company shall be responsible for all royalties payable to publishers of compositions and any other royalties payable with respect to the Content.</p>
        </div>
        <div class="content">
            <p><strong>Social Media Profile Links</strong></p>
            <p>YT Media</p>
            <p>Name - Suman</p>
            <p>Channel Link - YouTube</p>
        </div>
        <div class="signature">
            <img src="https://s3-ap-south-1.amazonaws.com/brandroute/c24f1a1b-ec74-41d8-861c-fd65d09a121d.pdf" alt="Signature" class="sig">
            <p>Creator’s Signature</p>
        </div>
        <div class="date">
            <p>Date: <%= new Date().toLocaleDateString() %></p>
        </div>
        <div class="top-right-curve"></div>
        <div class="bottom-left-curve"></div>
    </div>
    <!-- <% if (includeDownloadButton) { %>
        <a href="/download-pdf/<%= data._id %>" class="download-btn">Download PDF</a>
    <% } %> -->
</body>
</html>
